
<div class="bg-white max-w-7xl mx-auto">
    <div class="overflow-auto flex no-scrollbar m-6">
    {% for video in videos %}
        <a class="py-6 first:pl-2" href="{{ path('app_video_show', {'id': video.id}) }}">
            <div class="w-96 first:ml-0 mx-6 rounded-lg text-black px-4 py-4 shadow-lg">
                <img class="aspect-3/2 w-full rounded-2xl object-cover h-32" src="{{ video.image ? asset('uploads/image/' ~ video.image ) : asset('images/default/defaultImg.png')}}" alt="image {{video.title}}">
                <div class="mt-6">
                    <div>
                        <h5 class="card-title">{{ video.title }}</h5>
                    </div>
                    <div class="flex gap-4">
                        {% include 'parts/conditions/videoLevel.html.twig' %}
                        {% include 'parts/conditions/videoTheme.html.twig' %}
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    </div>    
</div>