{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% if app.user %}
        {% include 'parts/abonnements/abonnement.html.twig' %}
    {% else %}
        <h1>Vous n'êtes pas connecté</h1>
    {% endif %}
{% endblock %}
