{% extends 'base.html.twig' %}

{% block title %}Accès Refusé{% endblock %}

{% block body %}
    <div class="container">
        <h1>Accès Refusé</h1>
        <p>Votre compte a été banni. Si vous pensez que c'est une erreur, veuillez contacter <a href="mailto:zsport.information@gmail.com">zsport.information@gmail.com</a>.</p>
    </div>
{% endblock %}
